doctype 5
html(lang="en")
    head
        title Falcon 50
        block head
    body
        p
            a(href='/') Home
        p
            a(href='/runners') Runners
        p
            a(href='/runners/new') Register Runner
        block content
